body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;

}

.choices {
  height: 150px;
  width: 150px;
  margin-left: 5px;

}

.flex-center {
  display: flex;
  justify-content: center;
}
/*
.selector {
  max-width: 250px;
  text-align: center;
  margin-left: 39%
}*/
.outline {
  float: left;
  margin-left: 30px;
  margin-bottom: 18px;
  width: 250px;
  height: 330px;
}

ul {
      list-style: none;
}

.thumbnails {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  background: white;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
   /*width: 250px;*/
  /*padding: 10px;*/
}

.centeredtest {
  text-align:left;
}

.outlinetest {
  border: 1px solid #C0C0C0;
  border-radius: 10px;
}



/*.outline1 {
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  margin: 5px;
  width: 350px;
  height: 200px;
  display: inline-block;
  padding: 5px;
  text-align: left;
}

.outline {
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  margin: 5px;
  width: 22%;
  height: 22%;
  display: inline-block;
  padding: 5px;
  text-align: left;
}

p {
  font-size: 80%;
}*/
