body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../img/wine.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.borders {
  padding-top: 50px;
  padding-left:50px;
  padding-right:50px;
}

a {
  /*color: burgundy;*/
}


ul {
  list-style: none;
}

.opening {
  padding-left: 100px;
}

/*maybe need to attach this to the body and deal with the other properties as needed*/

.background {
  /*position: absolute;*/
  /*background: url(../img/wine.jpg) no-repeat center center scroll;*/
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/
}

/*.background:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
      background: url(../img/wine.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}*/



.centered {
  /*border: 1px solid #ddd;*/
  margin: 0 auto;
  /*width: 100%;*/
  text-align: center;
}

.selector {
  width: 20%;
}

.login-form {
  width: 35%;
}

.selector {

}

.title {
  text-align: left;
}

.main-content {
  /*border: 1px solid #ddd;*/
  margin: 0 auto;
  width: 70%;
  text-align: left;

}



.thumbnails {
  /*width: 28%;
  height: 160px;
  padding: 5px;
  float: left;
  margin-left: 30px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  background: white;
  border-radius: 4px;*/

    width: 22em;
    height: 13em;
    padding: .25em;
    float: left;
    margin-left: 2.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    background: white;
    border-radius: 4px;
    /* padding: 10px;
  /*padding: 10px;*/

 /* width: 250px;
  height: 330px;*/
}

.recipe-thumbnails {
/*    width: 12em;
    height: 12em;*/
    padding: .25em;
    float: left;
    margin-left: 2.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    /*these two are new*/
    position: relative;
    display: inline-block;
    /*background: white;*/
    /*border-radius: 4px;*/
}

span.text-content {
  background: rgba(0,0,0,0.5);
  margin-top: .3em;
  margin-left: .3em;
  color: white;
  cursor: pointer;
  display: table;
  height: 3em;
  left: 0;
  position: absolute;
  top: 0;
  width: 16em;
  opacity: 0;
}

ul.recipe-list li:hover span.text-content {
  opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 3em;
  left: 0;
  position: absolute;
  top: 0;
  width: 16em;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.recipe-image {
  width: 16em;
  height: 16em;
}

.thumbnail-container {
  margin: 0 auto;
}

.recipe-thumbnail-container {
  margin: 0 auto;

}

.thumbnail-center {
  /*border: 1px solid #ddd;*/
}

.thumbnail-wine-info {
  display: inline-block;
  float: right;
  /*border: 1px solid #ddd;*/
  /*height:125px;*/
  width: 60%;
  word-wrap: break-word;
}

.more-info {
  margin-left: 3em;
}

.delete {
  margin-top: .5em;
  margin-left: 3.7em;
}

.thumbnail-wine-pic {
  display: inline-block;
  border: 1px solid #ddd;
  height: 100%;
}

.thumbnail-recipe-pic {
  display: inline-block;
  border: 1px solid #ddd;
  height: 100%;
}

.recipe-list {
  text-align: center;
}

.thumbnail-wine-title {
  /*border: 1px solid #ddd;*/
  text-align: center;
  word-wrap: break-word;
}


.results-sorter {
  margin-top: 8px;
  border: none;
  /*border-color: #f8f8f8;*/
  color: #777;
  background-color: #f8f8f8;
}

.food-choice {
  text-align: center;
}

.logout {
  margin-top: .6em;
  margin-right: 1em;
}

.some-element {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

.some-div:hover #some-element {
  display: block;
}

.single-wine {
  border: 1px solid #ccc;
  width: 60%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
}

.single-wine-heading {
  text-align: center
}

.single-wine-image {
  width: auto;
  height: 15em;
  display: inline-block;
  margin-left: 3em;
  margin-top: 3em;
}

.single-wine-p {
  margin-top: 3em;
  margin-left: 4em;
  margin-right: 4em;
}

.buttons-row {
  margin-left: 20%;
  margin-bottom: 10px;
}

.single-wine-heading {
  margin-top: 1em;
}




