body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;

}

.choices {
  height: 150px;
  width: 150px;
  margin-left: 5px;

}

.flex-center {
  display: flex;
  justify-content: center;
}
/*
.selector {
  max-width: 250px;
  text-align: center;
  margin-left: 39%
}*/
