<div class="mainBorders">
  <div class="contentContainer">
      <div class="container">
 <!--    <section id="about-me">
      <div class="content">
        <h1 class="content-title">About Me</h1>
        <hr>
        <img src="img/profile.jpg">
        <h2>Developer. Wine lover.<br><br>Banh mi Vice lumbersexual, lomo seitan Intelligentsia ethical hella kitsch listicle tofu. Vegan fixie irony Pitchfork, banh mi plaid bespoke bitters tousled Banksy freegan whatever. Trust fund McSweeney's tofu, keffiyeh gastropub deep v meh. Listicle selfies put a bird on it Carles, salvia tousled crucifix synth.</h2>
      </div>
    </section> -->

    <section id="social">
    <!--   <h1 class="content-title">Get in touch!</h1>
      <hr> -->
      <br>
      <br>
      <br>
      <br>
      <br>

      <ul class="social" id="socialUL">
        <li><a href="https://github.com/amerriman" target="_blank"><img src="../img/github.png" class="social-links">
        </a></li>
        <li><a href="https://www.linkedin.com/in/amerriman" target="_blank"><img src="../img/linkedin.png" class="social-links"></a></li>
      </ul>
    </section>
    <footer>
    <!-- <h3><a href="http://ashleymerriman.com" class="content-title" target="_blank"><strong>Portfolio</strong></a></h3><br> -->
      <span>Ashley Merriman &nbsp;\\&nbsp;2015</span>
    </footer>
  </div>
  </div>
</div>
