<div class="mainBorders">
  <div class="contentContainer">
      <div class="container">

    <section id="social">

      <br>
      <br>
      <br>
      <br>
      <br>

      <ul class="social" id="socialUL">
        <li><a href="http://github.com/amerriman" target="_blank"><img src="../img/github.png" class="social-links">
        </a></li>
        <li><a href="http://ashleymerriman.com" target="_blank"><img src="../img/globe.png" class="social-links"></a></li>
        <li><a href="http://www.linkedin.com/in/amerriman" target="_blank"><img src="../img/linkedin.png" class="social-links"></a></li>
      </ul>
    </section>
    <footer>
      <span>Ashley Merriman &nbsp;\\ &nbsp;2015</span>
    </footer>
  </div>
  </div>
</div>
