<h2 class="center">What's cooking?</h2>


<div class="form-group selector center">
  <!-- <label for="sel1">What are you eating?</label> -->
  <select class="form-control" id="food-type" ng-model="mySelect" ng-init="mySelect='choose'">
    <option value="choose" disabled selected>Choose a food type:</option>
    <option value="brunch">Brunch</option>
    <option value="chicken">Chicken</option>
    <option value="fish">Fish</option>
    <option value="pork">Pork</option>
    <option value="beef">Beef</option>
    <option value="lamb">Lamb</option>
    <option value="veal">Veal</option>
    <option value="pasta">Pasta</option>
  </select>
  <br>
  <button type="submit" ng-click="getOption()" class="btn btn-success">Get the wine!</button>
</div>


<div class="row" ng-show="wineA">
  <div class="col col-md-10 col-md-offset-1 centered">
    <!-- <h3>Results</h3> -->
    <div ng-repeat="wine in winesA" class="blocks">
      <div class="outline1">
      <br>
        <h4><a ng-click="" title="">{{wine.name}}</a></h4>
        <h5>Price: {{wine.price}}</h5>
      </div>
      <br>
    </div>
  </div>
</div>
