<div class="mainBorders">
  <div class="contentContainer">

    <div class="page-header">
      <h1>Wine Match <br><small>Pair your meal with the perfect wine.</small></h1>
    </div>


    <!-- Login form -->
     <!--  <div class="centered login-form">
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form-inline" ng-submit="login()">
          <div class="form-group">
            <input type="text" class="form-control" name="username" ng-model="loginForm.username" placeholder="username"required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" ng-model="loginForm.password" placeholder="password" required>
          </div>
            <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
        </form>
        <br>
        <a href="/#/register">Register</a> -->
        <!-- <br> -->
        <!-- <a class="btn btn-success" href="/social/github">Login with Github</a> -->
        <!-- can set an ngclick to change user to true, but that is super janky -->
      <!-- </div> -->

    <div class="borders">
      <div class="col-md-4">
        <h2>Login</h2>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="login()">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
          </div>
          <div class="form-group">
            <label>Password</label>
              <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
            </div>
            <div>
              <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
              <br>
              <br>
              <a href="/#/register">Register</a>
            </div>
        </form>
      </div>
    </div>

  </div>
</div>
