<div class="mainBorders">
  <div class="contentContainer">
    <div class="page-header">
      <h1>Wine Match <br><small>Pair your meal with the perfect wine.</small></h1>
    </div>
    <br>
    <div class="borders">
      <div class="col-md-4">
        <h2>Register</h2>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="register()">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" ng-model="registerForm.username" required>
          </div>
          <div class="form-group">
            <label>Password</label>
              <input type="password" class="form-control" name="password" ng-model="registerForm.password" required>
            </div>
            <div>
              <button type="submit" class="btn btn-default" ng-disabled="disabled">Register</button>
            </div>
        </form>
      </div>
    </div>

  </div>
</div>
