<div class="mainBorders">
  <div class="contentContainer">


  <!-- Food selector -->
    <form class="form-inline centered selector selector-text" ng-show="selector">
      <div class="form-group">
        <h4 class="search-label">Find a wine to pair with...</h4>
      </div>
      <div class="form-group">
        <select class="form-control food-choice" id="food-type" ng-model="foodSelect" ng-init="foodSelect='choose'">
          <option class="food-choice" value="choose" disabled selected>Choose a food type:</option>
          <option class="food-choice selector-text" value="brunch">Brunch</option>
          <option class="food-choice selector-text" value="chicken">Chicken</option>
          <option class="food-choice selector-text" value="fish">Fish</option>
          <option class="food-choice selector-text" value="pork">Pork</option>
          <option class="food-choice selector-text" value="beef">Beef</option>
          <option class="food-choice selector-text" value="lamb">Lamb</option>
          <option class="food-choice selector-text" value="veal">Veal</option>
          <option class="food-choice selector-text" value="pasta">Pasta</option>
        </select>
      </div>
        <button type="submit" ng-click="getOption()" class="btn btn-default selector-text">Search</button>
      </form>

      <br>

      <!-- Show all wine results -->
      <div ng-show="results" class="results transparent">
        <h3 class="results-title">Wine Match {{meal}}:</h3>
        <ul class="wine-grid row">
          <li class="thumbnails col-md-4" ng-repeat="wine in wines | orderBy: sortWine">
            <div class="thumbnail-content">
              <p class="thumbnail-wine-title"><strong>{{wine.name}}</strong></p>
                <div class="thumbnail-wine-pic">
                  <img ng-src="{{wine.image}}" alt="Imagine a wine..." height="100px" width="auto">
                </div>
                <div class="thumbnail-wine-info">
                  <p class="thumb-p">
                    Vintage: {{wine.vintage}} <br>
                    Type: {{wine.varietal}} <br>
                    Price: {{wine.price | currency}}<br>
                    Rating: {{wine.snoothrank}}/5
                  </p>
                  <a ng-click="wineDetails(wine.code)" class="btn btn-warning btn-sm more-info">More Info</a>
                </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Show single wine more info -->


      <div ng-show="single">
        <div class="single-wine transparent2">
          <div class="row">
            <h3 class="single-wine-heading">{{singleWine.name}}</h3>
          </div>

          <div class="row">
            <div class="col col-md-5">
              <img ng-src="{{singleWine.image}}" alt="Wine Image"  class="single-wine-image">
            </div>
            <div class="col col-md-7 single-wine-p">
            <h4><strong>Winery:</strong> {{singleWine.winery}}</h4>
              <h4><strong>Varietal:</strong> {{singleWine.varietal}}</h4>
              <h4><strong>Vintage:</strong> {{singleWine.vintage}}</h4>
              <h4><strong>Price:</strong> {{singleWine.price | currency}}</h4>
              <h4><strong>Rating:</strong> {{singleWine.snoothrank}}</h4>
              <a ng-href="{{singleWine.link}}"><strong>Order online!</strong></a>
            </div>
          </div>

          <div class="row">
            <p class="single-wine-notes"><strong>Winemaker notes:</strong> {{singleWine.wm_notes}}</p>
          </div>
          <!-- ****************************************** -->
          <div class="row">
            <div ng-show="errMessage" class="alert alert-danger">{{addWineMessage}}</div>
            <div ng-show="successMessage" class="alert alert-success">{{addWineMessage}}</div>
           </div>
          <!--
          ****************************************** -->

          <div class="row buttons-row">
            <button class="btn btn-info" ng-click="showRecipes()" ng-show="recBtn">Show Recipes</button>
            <button class="btn btn-info" ng-click="hideRecipes()" ng-show="hideRecBtn">Hide Recipes</button>
            <button class="btn btn-info" ng-click="postWine()">Save to my wines!</button>
            <button class="btn btn-info" ng-click="goBack()">Back to all results</button>
          </div>

          <div class="row">
            <div ng-show="recipesDiv">
              <div class="recipe-thumbnail-container">
                <ul class="recipe-list">
                  <li ng-repeat="recipe in recipes" class="recipe-thumbnails">
                    <a ng-href="{{recipe.source_link}}" target="_blank">
                      <img ng-src="{{recipe.image}}" alt="Imagine food" class="recipe-image some-div">
                      <span class="text-content">{{recipe.name}}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>

  </div>
</div>




