<div class="wineBorders">
  <div class="contentContainer">



    <div ng-show="results" class="results transparent">
        <div ng-show="loginAlert" class="alert alert-danger">You must be logged in to save wine!</div>
        <ul class="wine-grid row">
          <li class="thumbnails col-md-4 col-sm-6 " ng-repeat="wine in userWines | orderBy: sortWine">
            <a ng-click="wineDetails(wine.code)">
              <div class="thumbnail-content">
                <p class="thumbnail-wine-title results-a"><strong>{{wine.name}}</strong></p>
                <div class="row">
                  <img class="col-sm-5 col-xs-6 thumbnail-wine-pic" ng-src="{{wine.image}}" alt="Imagine a wine...">
                  <p class="thumb-p col-sm-7 col-xs-6 results-a">
                    Vintage: {{wine.vintage}} <br>
                    Type: {{wine.varietal}} <br>
                    Price: {{wine.price | currency}}
                  </p>
                 <a ng-click="deleteWine(wine._id)" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash"></span></a>

                </div> <!-- /row -->
              </div>
            </a>
          </li>
        </ul>
      </div>




        <div ng-show="single">
        <div class="single-wine transparent2">
          <div class="row">
            <h3 class="single-wine-heading">{{singleWine.name}}</h3>
          </div>

          <div class="row">
            <div class="col col-md-5">
              <img ng-src="{{singleWine.image}}" alt="Wine Image"  class="single-wine-image">
            </div>
            <div class="col col-md-7 single-wine-p">
            <h4><strong>Winery:</strong> {{singleWine.winery}}</h4>
              <h4><strong>Varietal:</strong> {{singleWine.varietal}}</h4>
              <h4><strong>Vintage:</strong> {{singleWine.vintage}}</h4>
              <h4><strong>Price:</strong> {{singleWine.price | currency}}</h4>
              <h4><strong>Rating:</strong> {{singleWine.snoothrank}}</h4>
              <a ng-href="{{singleWine.link}}"><strong>Order online!</strong></a>
            </div>
          </div>

          <div class="row">
            <p class="single-wine-notes"><strong>Winemaker notes:</strong> {{singleWine.wm_notes}}</p>
          </div>

        <div class="row buttons-row">
          <button class="btn btn-info" ng-click="showRecipes()" ng-show="recBtn">Show Recipes</button>
          <button class="btn btn-info" ng-click="hideRecipes()" ng-show="hideRecBtn">Hide Recipes</button>
          <button class="btn btn-info" ng-click="goBack()">Back to my cellar</button>
        </div>

        <div class="row">
          <div ng-show="recipesDiv">
            <div class="recipe-thumbnail-container">
              <ul class="recipe-list">
                <li ng-repeat="recipe in recipes" class="recipe-thumbnails">
                  <a ng-href="{{recipe.source_link}}" target="_blank">
                    <img ng-src="{{recipe.image}}" alt="Imagine food" class="recipe-image some-div">
                    <span class="text-content">{{recipe.name}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
